@import "../../base.scss";

.container {
  width: 100%;
  padding: 1rem;

  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  img {
    width: 2.5rem;
    height: auto;
    object-fit: contain;
  }
}

.unread {
  background-color: $blue-100;
}

.container__contents {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.container__writeup {
  width: 100%;

  p,
  .username,
  .verb,
  .object {
    font-size: 0.88rem;
    color: $blue-400;
  }

  .verb {
    color: hsl(219, 14%, 63%);
  }

  .username {
    color: $blue-600;
    font-weight: 800;
    margin-right: 6px;

    &:hover {
      cursor: pointer;
      color: $primary-blue;
    }
  }

  .object {
    color: hsl(219, 12%, 62%);
    margin-left: 6px;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      color: $primary-blue;
    }
  }

  .circle {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: $primary-red;
    border-radius: 50%;
    margin-left: 6px;
    margin-bottom: 1px;
  }

  .date {
    margin-top: 2px;
    color: hsl(219, 14%, 73%);
  }

  .message {
    padding: 1rem;
    border: 1px solid $blue-300;
    border-radius: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;

    &:hover {
      background: $blue-200;
    }
  }
}

.post {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-left: auto;
  cursor: pointer;
}
