@import "./base.scss";

main {
  display: block;
  width: 100%;
  height: fit-content;
  max-width: 620px;
  margin: 0 auto;
  background: $white;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px -1px 27px -11px rgba(28, 32, 43, 0.75);
  -webkit-box-shadow: 0px -1px 27px -11px rgba(28, 32, 43, 0.75);
  -moz-box-shadow: 0px -1px 27px -11px rgba(28, 32, 43, 0.75);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    h1 {
      color: $blue-600;
      font-size: 1.25rem;
      font-weight: 800;
    }

    span {
      width: 2.1rem;
      height: 1.6rem;
      border-radius: 0.4rem;
      background-color: $primary-blue;
      color: $blue-100;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
    }
  }

  button {
    background: none;
    border: none;
    color: $blue-400;
    font-size: 0.85rem;
    cursor: pointer;

    &:hover {
      color: $blue-500;
    }
  }
}

.notification__list {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

@media (min-width: 620px) {
  main {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2rem;
  }
}
