@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

$linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$primary-red: hsl(0, 100%, 66%);

$white: hsl(0, 0%, 100%);
$violet-100: hsl(270, 3%, 87%);
$violet-200: hsl(279, 6%, 55%);
$violet-300: hsl(278, 68%, 11%);

$font-size: 18px;
$font-family: "Space Grotesk", sans-serif;
