@import "../../base.scss";

.formGroup {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.65rem;
  line-height: 2;
  letter-spacing: 2px;
  font-weight: 500;
  color: $violet-300;
  cursor: pointer;

  input {
    width: 100%;
    border: 1px solid $violet-100;
    padding: 0.6rem;
    border-radius: 8px;
    color: $violet-300;
    outline: none;
    background-color: transparent;

    &::placeholder {
      font-size: 1rem;
      color: $violet-200;
    }

    &:focus,
    &:active {
      border-color: $violet-300;
    }
  }

  .error {
    border-color: $primary-red;
  }

  small {
    font-size: 0.65rem;
    text-transform: none;
    letter-spacing: 0;
    color: $primary-red;
  }
}

@media (min-width: 900px) {
  .formGroup {
    max-width: 20rem;
  }
}
